<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden>
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :apartment %>
    <%= form.number_field :apartment %>
  </div>

  <div class="field">
    <%= form.label :garden %>
    <%= form.number_field :garden %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :animal_experience %>
    <%= form.number_field :animal_experience %>
  </div>

  <div class="field">
    <%= form.label :time_to_spent %>
    <%= form.number_field :time_to_spent %>
  </div>

  <div class="field">
    <%= form.label :finance %>
    <%= form.number_field :finance %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
