<%= render :partial=> "hello/header" %>
<p id="notice"><%= notice %></p>



        <% if @profile %>

        <p>
          <strong><i class="fas fa-home"></i> Mieszkanie:</strong>
          <%= humanize_apartment_size @profile.apartment %>
        </p>

        <p>
          <strong><i class="fas fa-seedling"></i> Ogród:</strong>
          <%= @profile.garden %>
        </p>

        <p>
          <strong><i class="far fa-calendar-alt"></i> Wiek:</strong>
          <%= @profile.age %> Lat
        </p>

        <p>
          <strong><i class="fas fa-dog"></i> Doświadczenie z zwierzętami:</strong>
          <%= humanize_owner_with_dogs @profile.animal_experience %>
        </p>

        <p>
          <strong><i class="fas fa-clock"></i> Time to spent:</strong>
          <%= humanize_time_to_spent @profile.time_to_spent %>
        </p>

        <strong><i class="fas fa-money-bill"></i>F undusze:</strong>
        <p>
          <%= @profile.finance %>
        </p>

        <p>
          <strong>Opis:</strong>
          <%= @profile.description %>
        </p>
        <% else %>
          <p> Nie utworzono profilu</p>
        <% end %>
      </div>
<%= link_to 'Back', breeders_path %>
