<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @dog.birth_date %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dog.description %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @dog.gender %>
</p>

<p>
  <strong>Vaccination:</strong>
  <%= @dog.vaccination %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dog.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @dog.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @dog.height %>
</p>

<p>
  <strong>Apartment size:</strong>
  <%= @dog.apartment_size %>
</p>

<p>
  <strong>Childrens:</strong>
  <%= @dog.childrens %>
</p>

<p>
  <strong>Time to spent:</strong>
  <%= @dog.time_to_spent %>
</p>

<p>
  <strong>Owner with dogs:</strong>
  <%= @dog.owner_with_dogs %>
</p>

<p>
  <strong>Animals:</strong>
  <%= @dog.animals %>
</p>

<p>
  <strong>Noise:</strong>
  <%= @dog.noise %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @dog.energy %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @dog.disposition %>
</p>

<p>
  <strong>Localization:</strong>
  <%= @dog.localization %>
</p>

<p>
  <strong>Coat:</strong>
  <%= @dog.coat %>
</p>

<p>
  <strong>Drooling:</strong>
  <%= @dog.drooling %>
</p>

<p>
  <strong>Obedience:</strong>
  <%= @dog.obedience %>
</p>

<p>
  <strong>User:</strong>
  <%= @dog.user_id %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
