<%= render :partial=> "hello/header" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @dog.birth_date %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @dog.breed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dog.description %>
</p>

<p>
  <strong>Gender:</strong>
  <%= humanize_gender @dog.gender %>
</p>

<p>
  <strong>Vaccination:</strong>
  <%=  @dog.vaccination %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dog.size %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @dog.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @dog.height %>
</p>

<p>
  <strong>Apartment size:</strong>
  <%= @dog.apartment_size %>
</p>

<p>
  <strong>Childrens:</strong>
  <%= @dog.childrens %>
</p>

<p>
  <strong>Time to spent:</strong>
  <%= @dog.time_to_spent %>
</p>

<p>
  <strong>Owner with dogs:</strong>
  <%= @dog.owner_with_dogs %>
</p>

<p>
  <strong>Animals:</strong>
  <%= @dog.animals %>
</p>

<p>
  <strong>Noise:</strong>
  <%= @dog.noise %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @dog.energy %>
</p>

<p>
  <strong>Disposition:</strong>
  <%= @dog.disposition %>
</p>

<p>
  <strong>Localization:</strong>
  <%= @dog.localization %>
</p>

<p>
  <strong>Coat:</strong>
  <%= @dog.coat %>
</p>

<p>
  <strong>Drooling:</strong>
  <%= @dog.drooling %>
</p>

<p>
  <strong>Obedience:</strong>
  <%= @dog.obedience %>
</p>

<p>
  <strong>User:</strong>
  <%= @dog.user.name %>
</p>

<% if current_user.id == @dog.user.id %>
  <%= link_to 'Edytuj', edit_dog_path(@dog), class:'btn btn-success' %>
<% end %>

<% @questions.each do |question, i| %>
<% if current_user.id == @dog.user.id || question.hiden == false %>
<div class="card">
  <h5 class="card-title">Pytający:<%= question.user.name %></h5>
  <div class="card-text"><p>Pytanie:<%= question.question %></p></div>
  <div class="card-text"><p>Odpowiedz:<%= question.answer %> </p></div>
</div>
<% if current_user.id == @dog.user.id %>

  <%= render 'hello/form_answer', question: question, id: question.id %>

<%end %>
<% end %>
<% end %>

<%= render 'question_form', question: @question, d_id: @dog.id, u_id: current_user.id %>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
