<%= form_for @question, url: addanswer_path(@question), method: :put, html: {class: "form-group"} do |form| %>

<div class="form-group">
  <br>
  <%= form.label :odpowiedz, class: 'form-label' %>

  <%= form.text_field :answer, class: 'form-control required'%>
  <%= hidden_field_tag :id, id %>
<br>
  <%= form.submit  'Odpowiedz na pytanie' , class: 'btn btn-dark'%>
</div>

<% end %>
