<link rel="preconnect" href="https://fonts.gstatic.com">
<style>

  .navbar-custom {
    background-color: #2F8B57;
    color: white;
  }

  .navbar-custom .navbar-nav .nav-link {
    font-family: serif, 'Noto Serif';
    color: white;
    font-size: 17px;
  }
  .navbar-custom .navbar-nav .nav-link:hover {
    color: #36486b;
  }

  .navbar-custom .navbar-brand {
    font-size: 25px;
    font-family: seriff, 'Noto Serif';
    color: white;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">

    <p class="fas fa-bone" style="font-size: 40px; margin-right:10px;"></p>

    <p class="navbar-brand">Zaadoptuj zwierzaka</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <b>
            <%= link_to 'Strona główna', main_path, class:'nav-link active' %></b>
        </li>

        <li>
          <%= link_to 'Dodaj ogłoszenie', adddog_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Hodowcy', breeders_path, class: 'nav-link active' %>
        </li>
        <li>
          <%= link_to 'Sprawdź oferty', myoffers_path, class: 'nav-link active' %>
        </li>
        <%= kick_out %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">

          <%= link_to "Mój Profil", myprofile_path, class:'nav-link active podkreslenie' %>
        </li>
        <li>
          <b>
            <%= link_to 'Wyloguj się', logout_path, class:'nav-link active', method: :delete, data: { confirm: 'Are you sure?' } %>
          </b>
        </li>
      </ul>
    </div>
  </div>
</nav>
