<%= render 'header' %>
  <div class="container-fluid">
    <h1> Profil użytkownika: <%= @user.name %> </h1><br>
    <div class="card">

      <div class="card-title">  Podstawowe atrybuty podczas szukania nowego pupila </div>
      <div class="card-body">

        <% if @profile %>

        <p>
          <strong><i class="fas fa-home"></i> Mieszkanie:</strong>
          <%= humanize_apartment_size @profile.apartment %>
        </p>

        <p>
          <strong><i class="fas fa-seedling"></i> Ogród:</strong>
          <%= @profile.garden %>
        </p>

        <p>
          <strong><i class="far fa-calendar-alt"></i> Wiek:</strong>
          <%= @profile.age %> Lat
        </p>

        <p>
          <strong><i class="fas fa-dog"></i> Doświadczenie z zwierzętami:</strong>
          <%= humanize_owner_with_dogs @profile.animal_experience %>
        </p>

        <p>
          <strong><i class="fas fa-clock"></i> Time to spent:</strong>
          <%= humanize_time_to_spent @profile.time_to_spent %>
        </p>

        <strong><i class="fas fa-money-bill"></i>F undusze:</strong>
        <p>
          <%= @profile.finance %>
        </p>

        <p>
          <strong>Opis:</strong>
          <%= @profile.description %>
        </p>
        <% else %>
          <p> Nie utworzono profilu</p>
        <% end %>
      </div>

      <td><%= link_to 'Edytuj', edit_profile_path(@profile) %></td>

    </div>
</div>
<style>

</style>
